html, body { height: 100%; }
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background: slategray;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.level-finish .mat-dialog-container {
    padding: 0;
}